html {
  font-size: 62.5%;
  color: white;
}

li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
}
#navbar {
  display: flex;
  flex-direction: row;
}
#body {
  background-image: url(./Images/adrien-olichon-RCAhiGJsUUE-unsplash.jpg);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
nav a :hover {
  color: rgba(7, 15, 7, 0.952);
  background-color: gray;
  transition: background-color 0.15s, font-size 0.15s;
  font-size: 3rem;
}
nav a {
  color: white;
  text-decoration: none;
}

.heading-name {
  border-bottom: white;
  border-bottom: solid;
  border-bottom-style: solid;
  margin-bottom: 0.25rem;
}
.heading-title {
  margin-top: 0.25rem;
}
.footer {
  text-align: center;
  font-size: x-large;
  margin-top: auto;
}
footer ul {
  padding-left: 0;
}
footer a {
  text-decoration: none;
  color: white;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
